.admin_list
  %h1 Listing authors
  %table
    %tr
      %th Name
      %th Description
      %th Website
    - for author in @authors
      %tr
        %td= h author.name
        %td= h author.description
        %td= h author.website
        %td= link_to 'Show', author
        %td= link_to 'Edit', edit_admin_author_path(author)
        %td= link_to 'Destroy', [:admin, author], :confirm => 'Are you sure?', :method => :delete
  %br/
  %span.admin_new
    = link_to 'New author', new_admin_author_path
