                
.image_entry
  #print_slides
    = image_tag item.image1.url(:slide)
    = image_tag item.image2.url(:slide)
    = image_tag item.image3.url(:slide)
    = image_tag item.image4.url(:slide)
    = image_tag item.image5.url(:slide)

  .slick-carousel
    .slide= image_tag item.image1.url(:slide)
    .slide= image_tag item.image2.url(:slide)
    .slide= image_tag item.image3.url(:slide)
    .slide= image_tag item.image4.url(:slide)
    .slide= image_tag item.image5.url(:slide)


  - if current_user
    = link_to '[edit]', edit_admin_image_path(item)

= content_for :jquery do
  :plain
    $('.slick-carousel').slick({autoplay: true});