<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<style>
body {
font: Arial, Helvetica, sans-serif;
color:#000000;
font-size: 12px;
}


.style1 {
	font-size: 11px
}
</style>
</head>

<body>
<table width="600" border="0">
  <tr>
    <td><img width="46" height="43" src="http://www.version.org/images/header_vlogo.png" /><strong>  .<%= @category %>.<%= @article.author.name%> / <%= @article.title %>.<%= @article.created_at.strftime("%m/%d/%y") %></strong></td>
  </tr>
  <tr>
    <td><p class="style1"><%= @article.slug %></p>
    <hr /></p></td>
  </tr>
  <tr>
    <td><% if @clazz == 'Image' %>
	  <%= image_tag 'http://www.version.org'+url_for_file_column(@article, "image1", "slide") %><br />
	  <%= image_tag 'http://www.version.org'+url_for_file_column(@article, "image2", "slide") %><br />
	  <%= image_tag 'http://www.version.org'+url_for_file_column(@article, "image3", "slide") %><br />
	  <%= image_tag 'http://www.version.org'+url_for_file_column(@article, "image4", "slide") %><br />
	  <%= image_tag 'http://www.version.org'+url_for_file_column(@article, "image5", "slide") %><br />
	<br />
	<% elsif @clazz == 'Textual' %>
		<%= @article.content %>

	<% end %>
    <p>Sent via Version (www.version.org)</p></td>
  </tr>
</table>
</body>
</html>