%h1 Editing user
- form_for([:admin, @user]) do |f|
  = f.error_messages
  %p
    = f.label :login
    %br/
    = f.text_field :login
  %p
    = f.label :realname
    %br/
    = f.text_field :realname
  %p
    = f.label :email
    %br/
    = f.text_area :email
  %p
    = f.submit "Update"
= link_to 'Show', [:admin, @user]
|
\#{link_to 'Back', admin_users_path}
