.version_module_closed{id: "module_#{position}"}
  .top
    .logo
  = link_to(item.post.permalink, {remote: ajax, class: :module, rel: item.post.item_type.downcase + '_' + item.id.to_s}) do
    .content
      .title
        %ul
          %li= item.category.name
          %li
            \.
          
            - unless item.author.blank?
              = item.author.name
          %li
            \.
            = item.title 



          %li
            \.#{item.created_at.strftime("%m%d%y")}
      .bottom
        = image_tag item.thumbnail.url(:thumb)
        .short_description= raw item.short_description
